@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #e1e1e1 0%, #c8dce3 74%);
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.quiz-container {
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(red, rgb(240, 240, 240), blue, alpha);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: rgb(163, 84, 188);
    border: none;
    color: white;
    display: block;
    font-family: inherit;
    font-size: 1.25rem;
    width: 100%;
    padding: 1.5rem;
}

button:hover {
    background-color: rgb(113, 60, 129);
}

h2 {
    margin: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}